.OOGB a.menu, .OOGB #userInfo{
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	text-align: left;
}
body{
	background-color:#2D2D37;
	color:white;
}

#content{
	background-color:#3D3D47;
}

.tabelHeader{
	background-color:#060622;
}

.IGB a{
	color:yellow;
}

